Django>=4.2.0
python-dateutil==2.8.2
pytz==2023.3
sqlparse==0.4.4
asgiref>=3.2.7
six==1.15.0
django-crispy-forms==2.1
crispy-bootstrap4
reportlab>=4.0.4
openpyxl>=3.1.2
numpy>=1.24.3
scikit-learn>=1.3.0
pandas>=2.0.3
requests